.contact {
    padding-top: 113px;
    padding-bottom: 72px;
    background-color: #FFFFFF;
}

@media (max-width: 1200px) {
    .contact {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

@media (max-width: 1000px) {
    .contact {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .contact {
        padding-top: 20px;
    }
}

.contact__flex-container {
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

@media (max-width: 1200px) {
    .contact__flex-container {
        gap: 80px;
    }
}

@media (max-width: 1000px) {
    .contact__flex-container {
        gap: 50px;
    }
}

@media (max-width: 600px) {
    .contact__flex-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.contact__content {
    width: 445px;
}

@media (max-width: 600px) {
    .contact__content {
        width: 100%;
        text-align: center;
    }
}

.contact__title {
    font-size: 3.6rem;
    line-height: 1.19;
    color: #000000;
    margin-bottom: 33px;
}

@media (max-width: 922px) {
    .contact__title {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .contact__title {
        font-size: 2.6rem;
    }
}

@media (max-width: 400px) {
    .contact__title {
        font-size: 2rem;
    }
}

.contact__txt {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: justify;
    color: #000000;
}

@media (max-width: 600px) {
    .contact__txt {
        font-size: 1.4rem;
    }
}

.contact__form {
    width: 540px;
}

@media (max-width: 600px) {
    .contact__form {
        width: 100%;
    }
}

.contact__grid-content {
    display: grid;
    row-gap: 24px;
    column-gap: 30px;
    grid-template-columns: 255px 255px;
    grid-template-rows:repeat(4, 60px);
}

@media (max-width: 992px) {
    .contact__grid-content {
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows:repeat(5, 60px);
        column-gap: 20px;
    }
}

@media (max-width: 768px) {
    .contact__grid-content {
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows:repeat(5, 40px);
        column-gap: 10px;
    }
}

@media (max-width: 600px) {
    .contact__grid-content {
        row-gap: 10px;
    }
}

.contact__field {
    background-color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 1.18;
    color: rgba(19, 39, 67, 0.5);
    border: 1px solid #333333;
    padding: 21px 31px 20px;
    border-radius: 6px;
}

.contact__field:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (max-width: 992px) {
    .contact__field:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.contact__field:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (max-width: 992px) {
    .contact__field:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.btn-red {
    border: none;
    justify-self: start;
    text-align: center;
    padding: 20px 34px 23px;
    min-height: 60px;
    background-color: #ED4C5C;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .btn-red {
        padding: 10px 24px 13px;
        min-height: 40px;
    }
}

