.footer {
    background-color: #FAFAFA;
    padding-top: 89px;
    padding-bottom: 79px;
}

@media (max-width: 1200px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer__flex-container {
    display: flex;
    gap: 31px;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .footer__flex-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        position: relative;
    }
}

@media (max-width: 992px) {
    .footer__flex-container {
        gap: 21px;
    }
}

@media (max-width: 768px) {
    .footer__flex-container {
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 560px) {
    .footer__flex-container {
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.address {
    width: 250px;
}

@media (max-width: 1200px) {
    .address {
        width: 100%;
    }
}

.address__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.22;
    color: #101010;
    margin-bottom: 33px;
}

@media (max-width: 1200px) {
    .address__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .address__title {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .address__title {
        margin-bottom: 10px;
    }
}

.address__text {
    width: 200px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #101010;
}

@media (max-width: 560px) {
    .address__text {
        width: 100px;
    }
}

.address__sub-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.21;
    color: #101010;
}

@media (max-width: 1200px) {
    .address__sub-text {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: auto;
        right: auto;
    }
}

@media (max-width: 560px) {
    .address__sub-text {
        position: initial;
        flex-grow: 1;

    }
}

.services {
    width: 250px;
}

@media (max-width: 1200px) {
    .services {
        width: 100%;
    }
}

.services__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.22;
    color: #101010;
    margin-bottom: 28px;
}

@media (max-width: 1200px) {
    .services__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .services__title {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .services__title {
        margin-bottom: 10px;
    }
}

.services__link {
    font-size: 1.4rem;
    line-height: 1.6;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.touch {
    width: 250px;
}

@media (max-width: 1200px) {
    .touch {
        width: 100%;
    }
}

.touch__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.22;
    color: #101010;
    margin-bottom: 33px;
}

@media (max-width: 1200px) {
    .touch__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .touch__title {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .touch__title {
        margin-bottom: 10px;
    }
}


.touch__text {
    font-size: 1.4rem;
    line-height: 1.21;
    color: #101010;
    margin-bottom: 10px;
}

.touch__num {
    font-size: 1.4rem;
    line-height: 1.21;
    color: #101010;
    margin-bottom: 17px;
}

.social-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.support {
    width: 250px;
}

@media (max-width: 1200px) {
    .support {
        width: 100%;

    }
}

.support__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.22;
    color: #101010;
    margin-bottom: 33px;
}

@media (max-width: 1200px) {
    .support__title {
        margin-bottom: 20px;

    }
}

@media (max-width: 992px) {
    .support__title {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .support__title {
        margin-bottom: 10px;
    }
}

.support__link {
    width: 216px;
    height: 31px;
}

.support__img {
    width: 216px;
}

